body a {
  text-decoration: none;
  color: black;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_image {
  width: 20%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .category-card {
    margin: 10%, 0%;
  }
}
